<div class="product-container">
    <span class="percentage"><li class="fa fa-star"></li>{{productItem.rating}}</span>
    <img src={{productItem.url}} loading="lazy" routerLink="/productDetail" title="image title" class="product-image" (click)="productDetail(productItem)" >
    <p class="P">{{productItem.name}}</p>
    <p class="p1">${{productItem.price}}</p>
    <p class="pp">{{productItem.description}}</p>
    <select name="products" required id="products" title="products"  class="select-input" [(ngModel)]="productItem.amount" >
        <option *ngFor="let x of quantity" value={{x}}>{{x}}</option>
    </select>
    <button class="btn btn-primary" (click)="AddProducttoCart(productItem)">Add to Cart</button>
</div>