.product-image {      
    list-style-type: none;
    width: 260px;
    border-radius: 5px;
    height: 365px;
    object-fit: cover;
  } 
  .percentage{
    background-color: gold;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px;
    margin-left: 200px;
    font-size: small;
    position: absolute;
    font-weight: bold;
}
.percentage1{
  background-color: #03e9f4;
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px;
  margin-right: 200px;
  font-size: small;
  position: absolute;
  font-weight: bold;
}
.stock{
  color: white;
  font-weight: bold;
  font-size: small;
  padding-left: 180px;
}
  .product-image:hover{
    cursor: pointer;
    transition: 1s;
  }
  
  .product-container {
    max-width: 260px;
    border-radius: 5px;
    margin: auto;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.2), 0 6px 20px 0 rgba(161, 161, 161, 0.2);
    background-color: rgba(0, 0, 0,0.6);
  }
  .select-input {
    width: 80px; 
    margin-bottom: 8px;
    height: 80%;
  }
  .P{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-top: 5px;
  }
  .pp{
    color: white;
  }
  .p1{
    color: #04b3bd;
  }
  .btn{
    background-color: #04b3bd;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .btn:hover{
    background-color: #03e9f4;
    color: black;
  }
  @media only screen and (max-width: 600px) {
   
  }
  
  