.product-image {      
    list-style-type: none;
    width: 260px;
    padding: 20px;
    margin: 6px 6px;        
    border: 1px solid #04b3bd;
  } 
  .product-image:hover{
    cursor: pointer;
    transition: 1s;
  }
  
  .product-container {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
    height: 80%;
  }
  .P{
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
  .p1{
    color: #04b3bd;
  }
  .btn{
    background-color: #04b3bd;
    font-weight: bold;
    font-size: 15px;
  }
  .btn:hover{
    background-color: #03e9f4;
    color: black;
  }