div{
    text-align: center;
    margin-top: 100px;
}
h1{
    color: #03e9f4;
    font-weight: bold;
    font-size: 70px;
}
p{
    font-size: 30px;
    color: white;
}
button{
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
    background-color: #04b3bd;
}
button:hover{
    color: black;
    background-color: #03e9f4;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 50px;
    }
    p{
        font-size: 20px;
    }
}