  img {
    width: 150px;
    border-radius: 10px;
    height: 216px;
    object-fit: cover;
  }
  
  .fircol{
    margin-top: 50px;
  }
  
  .h1{
    font-size: 30px;
    color: white;
  }
  p{
    font-size: 20px;
  }
  .p{
    color: #03e9f4;
  }
  .sech1{
    font-weight: bold;
    color: #03e9f4;
    text-align: center;
    margin-top: 30px;
  }
  .data{
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.2), 0 6px 20px 0 rgba(161, 161, 161, 0.2);
    background-color: rgba(0, 0, 0,0.6);
    margin-left: -67px;
  }
  img{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .h11{
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    animation-duration: 1s;
  animation-name: slidein;
  }
  .lab{
    color: white;
    font-weight: bold;
  }
  @keyframes slidein {
    from {
      margin-top: 50%;
      width: 100%;
    }
  
    to {
      margin-top: 100px;
      width: 100%;
    }
  }

  .btn{
    background-color: #04b3bd;
    font-weight: bold;
    width: 100%;
    margin-top: 30px;
  }
  .btn:hover{
    color: black;
    background-color: #03e9f4;
  }
  @media only screen and (max-width: 600px) {
    .fircol{
      margin-left: 120px;
      margin-bottom: 40px;
    } 
    .btn{
      margin-left: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .h1{
      font-size: 20px;
      color: white;
      margin-left: 15px;
      margin-top: 16px;
    }
    .p{
      color: #03e9f4;
      margin-left: 15px;
    }
    .lab{
      margin-left: 10px;
      width: 180px;
      font-size: 14px;
    }
    img{
      margin-bottom: 0px;
      margin-left: 15px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .data{
      margin-top: 0px;
      box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.2), 0 6px 20px 0 rgba(161, 161, 161, 0.2);
      background-color: rgba(0, 0, 0,0.6);
      width: 150px;
      margin-left: 27px;
      padding-left: 1px;
    }
    .sech1{text-align: center;}
  }
  @media(min-width:300px){
    .fircol{
      max-width: 100%;
      margin-left: 100px;
    }
    .btn{
      margin-left: 5px;
      margin-bottom: 10px;
    }
}
  

