img {
    border-radius: 10px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 300px;
  }
  .row{
    max-width: 100%;

  }
.data{
    margin-top: 80px;
  }
  h1{
    font-weight: bold;
    color: white;
  }
  p{
    font-size: 30px;
    color: white;
  }
  .p1{
    color: #04b3bd;
  }
  select{
    width: 110px;
    height: 30px;
  }
  button{
    margin-top: 10px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #04b3bd;
  }
  button:hover{
    color: black;
    background-color: #12dee9;
  }
  a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #04b3bd;;
  }
  span{
    color: #04b3bd;;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 30px;
  }
  a:hover,span:hover{
    color: #12dee9;
  }
  @media screen and (max-width: 600px) {
      img{
        padding-left: 130px;
        margin-top: 0px;
        
    }
    .data{
      margin-top: 50px;
      padding-left: 50px;
      text-align: center;
    }
    
  }
  @media screen and (min-width: 412px ) and (max-width:914px) {
    img{
      margin-left: 60%;
  }
  }
  @media(min-width:300px) and (max-width:740px){
    img{
      margin-left: 0px;
    }
}
 
  
  