img {
    border-radius: 10px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 600px;
  }
  .row{
    max-width: 100%;

  }
.data{
    margin-top: 200px;
  }
  h1{
    font-weight: bold;
  }
  p{
    font-size: 30px;
  }
  select{
    width: 110px;
    height: 30px;
  }
  button{
    margin-top: 10px;
    height: 50px;
    margin-bottom: 20px;
  }
  a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  span{
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 30px;
  }
  @media screen and (max-width: 600px) {
      img{
        padding-left: 60px;
        margin-top: 0px;
        
    }
    .data{
      margin-top: 50px;
      padding-left: 50px;
      text-align: center;
    }
    .p1{
      color: blue;
    }
    
  }
  @media screen and (min-width: 412px ) and (max-width:914px) {
    img{
      margin-left: 25px;
  }
  }
  @media(min-width:300px) and (max-width:740px){
    img{
      margin-left: 0px;
    }
}
 
  
  