<div class="row" *ngFor="let productitem of product">
    <div class="col-sm-6">
        <img src={{productitem.url}} title="product image">
    </div>
    <div class="col-sm-6 data">
        <h1>{{productitem.name}}</h1>
        <p>${{productitem.price}}</p>
        <p>{{productitem.description}}</p>
        <select name="products" id="products" title="products" [(ngModel)]="productitem.amount" [value]="productitem.amount">
            <option *ngFor="let x of quantity" value={{x}}>{{x}}</option>
        </select><br>
        <button class="btn btn-primary" (click)="AddProducttoCart(productitem)">Add to Cart</button><br>
        <a routerLink="/" ><span>←</span>Back to Product List</a>
    </div>
</div>