label{
    font-size: 30px;
    color: white;
}
.form{
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.2), 0 6px 20px 0 rgba(161, 161, 161, 0.2);
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}
input{
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
}
.btn{
    font-weight: bold;
    font-size: 20px;
    background-color:#04b3bd;
}
.btn:hover{
    color: black;
    background-color: #03e9f4;
}
.error{
    color: red;
}
p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
@media only screen and (max-width: 600px) {
    .form{
        margin-top: 50px;
    }
    input{
        width: 450px;
    }
    label{
        font-weight: bold;
    }
}
@media screen and (min-width: 412px ) and (max-width:914px) {
    input{
        width: 390px;
    }
  }
  @media(min-width:300px){
    input{
        width: 100%;
    }
}