<form #form="ngForm">
    <label for="name">Full name</label><br>
    <input type="text" name="name" required minlength="3" maxlength="32" placeholder="minimum 3 charater..." [(ngModel)]="checkOrder.fullname">
    <br>
    <label for="address">Address</label><br>
    <input name="address" required minlength="6" placeholder="minimum 6 character..." [(ngModel)]="address">
    <br>
    <label for="credit">Credit Card Number</label><br>
    <input name="credit" required minlength="16" placeholder="minimum 16 digit..." [(ngModel)]="cardNumber">
    <br>
    <p>we will never share your payment details with anyone else</p>
    <input type="submit" routerLink="/checkorder" [disabled]="form.invalid" value="submit" class="btn btn-primary" >
</form>